{% load static %}

<nav class="navbar navbar-expand-lg navbark-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="The Pet Corner Logo" class="logo">
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">
            
            <span class="navbar-toggler-icon"></span>    
        
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'products' %}">Products</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'about' %}">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'contact' %}">Contact</a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'my_orders' %}">My Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                    </li>

                {% endif %}

                <li class="nav-item">
                    <a class="nav-link text-white cart-icon" href="{% url 'cart' %}">
                        
                        <i class="bi bi-cart3"></i>

                        <span id="cart-count" class="cart-count">{{ cart_count|default:0 }}</span>
                    
                    </a>
                </li>

            </ul>

        </div>

    </div>

</nav>